//requirements
torch
certifi
colorama
tqdm
numpy
transformers
diffusers
tokenizers
requests
pyparsing
zipp
packaging
idna
PyYAML
customtkinter
filelock
huggingface-hub
importlib-metadata
darkdetect
Pillow
tk
torchaudio
urllib3
charset-normalizer
regex
torchvision
typing_extensions
